<% @requests.each do |request| %>
<div style="border: 1px solid black; width: 100px; height: 100px">
<% if current_user == request.user %>
<%= link_to 'Show', request %>
<%= link_to 'Edit', edit_request_path(request) %>
<%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</div>
<% end %>